      body {
        background-color: white;
      }
  /*    .navbar-brand {
        color: black;
      }*/
 /*     .navbar {
        border-bottom: 1px solid black;
        border-radius: 0px;
      }*/
/*      .dropdown {
        padding-top: 5px;
        color: black;
      }*/
      /*.dropdown-menu {
        background-color: transparent;
        background-color: #020120;
        color: black;
        border: 1px solid black;
      }*/
    /*  .dropdown-menu li a {
        color: black;
      }*/
      
      #resourcesHeader{
        text-align: center;
        padding: 10px
      }

      #submitBtn{
        margin-top: 20px;
      }

      #sidePanel{
        padding-top: 40px;
        text-align: center;
        margin-top: 61px;
      }

      .resourcesPage{
        padding:10px;
        font-size: 20px
      }

      .resourceBorder {
        border: solid black 1px;
        text-align: center;
        vertical-align: middle;

      }