      body {
        background-color: white;
      }
      .navbar-brand {
        color: black;
      }
      .navbar {
        border-bottom: 1px solid black;
        border-radius: 0px;
      }
      .dropdown {
        padding-top: 5px;
        color: black;
      }
      .dropdown-menu {
        /*background-color: transparent;*/
        background-color: #020120;
        color: black;
        border: 1px solid black;
      }
      .dropdown-menu li a {
        color: black;
      }

      #submitBtn{
        margin-top: 20px;
      }

      #sidePanel{
        padding-top: 40px;
        text-align: center;
      }

      .resourcesPage{
        padding:10px;
      }

      .resourceBorder {
        border: solid black 1px;

      }