form.search {
  overflow: auto;
  margin: 30px;
}

form.search button[type="submit"] {
	margin-top: 20px;
	background-color: #05c371;
	font-family: 'Orbitron', sans-serif;
	color: #1a1b41;
	font-size: 24px;
	border: 1px solid #05c371;
	padding: 16px;
}

form.search button[type="submit"]:hover {
	/*margin-top: 20px;*/
	background-color: #1a1b41;
	font-family: 'Orbitron', sans-serif;
	color: #05c371;
	border: 1px solid #05c371;
	/*padding: 15px;*/
}

label {
	font-family: 'Orbitron', sans-serif;
	color: #05c371;
	font-size: 24px;
}