#pictures {
	padding: 20px;
}

#bodyPar {
	text-align: center;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 30px;
}

#resources h2 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#resource {
	margin-bottom: 5px;
}