 
 #homeDiv{


    background-color: white;


}

 p {
 	color: 020120;
 	font-family: 'Nova Flat', cursive;
 	color: #6290c3;
 }

 h1{
 	font-family: 'Nova Flat', cursive;
 	color: #6290c3;

 }

 
 .text {
 	margin-top: -170px;
 	text-align: center;
 	font-family: 'Nova Flat', cursive;

 }
 
 #frontPage {
 	margin-left: 100px;
 }

#frontPageText {
	padding-right: 66px;
	color: #6290c3;
}