      #contactPage{
      border: 1px solid black;
      padding-bottom: 50px;
      padding-top: 50px;
      }
      body {
        font-family: 'Nova Flat', cursive;
        color: #6290c3;


      }

/*      .container {
            width: 1351px;

      }*/
/*      .navbar-brand {
        color: black;
      }
      .navbar {
        border-bottom: 1px solid black;
        border-radius: 0px;
      }
      .dropdown {
        padding-top: 5px;
        color: black;
      }
      .dropdown-menu {
        background-color: transparent;
        background-color: #020120;
        color: black;
        border: 1px solid black;
      }
      .dropdown-menu li a {
        color: black;
      }
*/
      #submitBtn{
        margin-top: 20px;
      }

      #sidePanel{
        padding: 40px;
        text-align: center;
 
      }

      .frontHeader {
        text-align: center;
        padding: 10px
      }
      #basicInfo{
        padding: 10px
      }


