      #contactPage{
      border: 1px solid #05c371;
      padding-bottom: 50px;
      padding-top: 50px;
      }

      #mainContainer {
        font-family: 'Orbitron', sans-serif;
        color: #6290c3;
      }

      .frontHeader h2 {
        color: #05c371;
      }

      #mainContainer h4, form {
        font-family: 'Raleway', sans-serif;
      }

      input[type="text"], textarea[type="text"] {
        background-color: #c2e7da;
        color: #1a1b41; 
      }

      #submitBtn{
        margin-top: 20px;
        background-color: #05c371;
        color: #020120;
        border: 1px solid #05c371;
        padding: 15px;
      }

      #submitBtn:hover {
        margin-top: 20px;
        background-color: #020120;
        color: #05c371;
        border: 1px solid #05c371;
      }

      #sidePanel{
        padding: 40px;
        text-align: center;
      }

      .frontHeader {
        text-align: center;
        padding: 10px
      }

      #basicInfo{
        padding: 10px;
        position: relative;
      }

      #basicInfo h4 {
        position: relative;
      }

      #basicInfo span {
        position: absolute;
        left: 50px;
      }

      #team h4 {
        position: relative;
      }

      #team span {
        position: absolute;
        left: 50px;
      }


