.hero {
  height: 461px;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  top: -72px;
  border: 2px solid black;
  padding: 25px;
  background-color: #020120;
  z-index: 0;
}

.hero h1 {
  color: white;
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
  text-align: center;
}
